<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
<!--加载配置文件-->
<!--    <context:property-placeholder location="classpath:rabbitmq.properties"></context:property-placeholder>-->
<!-- 定义rabbitmq connectionFactory   -->
    <rabbit:connection-factory id="connectionFactory" host="192.168.1.9"
                port="5672"
                username="admin"
                password="admin"
                virtual-host="zs"
                publisher-confirms="true"
                publisher-returns="true"
    ></rabbit:connection-factory>

<!--    定义管理交换机,队列(可以帮我们自动创建交换机)-->
    <rabbit:admin connection-factory="connectionFactory"></rabbit:admin>

<!--    定义rabbitmqTemplate 对象操作可以在代码中方便发送消息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"></rabbit:template>


    <!--消息可靠性投递(生产端)    -->
    <rabbit:queue id="test_queue_confirm" name="test_queue_confirm"></rabbit:queue>

    <rabbit:direct-exchange name="test_exchange_confirm">
        <rabbit:bindings>
            <rabbit:binding queue="test_queue_confirm" key="confirm"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>
<!--===============================TTL 开始=======================    -->
    <rabbit:queue name="test_queue_ttl" id="test_queue_ttl">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="10000" value-type="java.lang.Integer"></entry>
        </rabbit:queue-arguments>
    </rabbit:queue>

    <rabbit:topic-exchange name="test_exchange_ttl">
            <rabbit:bindings>
                <rabbit:binding pattern="ttl.#" queue="test_queue_ttl"></rabbit:binding>
            </rabbit:bindings>
    </rabbit:topic-exchange>

</beans>
